#artext {
    background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animated 20s linear infinite;
}
@keyframes animated {
    to {background-position-x: 1000px;}
}

@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    display: flexbox;
    background-image: linear-gradient(to right, #00dffc, blue);
}

.cabeçalho {
    background-image: url();
    background-color: #170569;
    border: solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
}

/*.cabeçalho {
    background-image: url();
    background-color: #170569;
    border: solid black;
    border-radius: 10px;
    display: grid;
    width: 100%;
    height: 150px;
}*/

.menuprincipal{/*tabela do menu principal*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    display: flexbox;
    width: 100%;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
}

.areamenu{/*colunas do menu principal(Produtos, avaliações, dúvidas)*/
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    display: flexbox;
    width: 100%;
    justify-content: space-around;
    align-items: stretch;
    inline-size: 40px;
    flex-direction: row;
}

h1 {
    text-align: center;
    color: white; font-family: verdana; font-size: 30px;
}

h2 {
    color: white; font-family: verdana; font-size: 27px;
}

.login {
    color: #ff3d00;
}

.container {/*Área das div's com imagens*/
    background-color: #002a5f;
    border: solid black;
    border-radius: 5%;
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: auto;
    left: 50%;
    top: 50%;
    
}

.cartuchos {
    border-color: rgb(4, 4, 138);
    position: center;
    margin: auto;
    top: 150px;
    right: 30px;
    width: 450px;
    height: 270px;
    border-radius: 5%;
}

.aurora_item {
    overflow: hidden;
    position: absolute;
    width: 60vw;
    height: 60vw;
    background-color: var(--clr-1);
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    filter: blur(var (--blur));
    mix-blend-mode: overlay;
}

@keyframes aurora-border {
    0% {
        border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
    25% {
        border-radius: 47% 29% 39% 49% / 61% 19% 66% 33%;
    }
    50% {
        border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
    }
    75% {
        border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
    }
    100% {
        border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
}
.temp {
    display: flexbox;
    flex-direction: column;
    background-color: rgb(46, 43, 230)  ;
    border-radius: 10px;
    width: 130px;
    height: 70px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(129, 211, 211);

}